@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100% !important;
  height: 100vh !important;
  background-image: repeating-linear-gradient(
      0deg,
      rgb(17, 17, 17) 0px,
      rgb(17, 17, 17) 1px,
      transparent 1px,
      transparent 51px
    ),
    repeating-linear-gradient(
      90deg,
      rgb(17, 17, 17) 0px,
      rgb(17, 17, 17) 1px,
      transparent 1px,
      transparent 51px
    ),
    linear-gradient(90deg, hsl(49, 0%, 3%), hsl(49, 0%, 3%)) !important;
  color: #fff !important;
}
